<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC+Mybatis4CURD:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC_Mybatis4CURD_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springMVC+Mybatis4CURD/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC+Mybatis4CURD" />
        </element>
      </element>
    </root>
  </artifact>
</component>